<button class="menu-btn" id="menu-btn">
    <i class="fa-solid fa-bars"></i>
    <i class="fa-solid fa-xmark hidden"></i>
</button>

<div class="search-container">
    <input type="text" placeholder="¿Qué deseas?">
    <button>
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>

<div class="dropdown" id="profile-dropdown">
    <ul>
        <li [routerLink]="['/dashboard/profile']">
            <i class="fa-solid fa-id-card"></i>
            Ver perfil
        </li>
        <li (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
            Cerrar sesión
        </li>
    </ul>
</div>

<div class="profile-icon" id="profile-icon">
    <img src="../../../assets/imgs/foto_perfil_ejemplo.jpg" alt="Foto de perfil">
    <i class="fa-solid fa-caret-down"></i>
</div>