<div id="index-wrapper" class="min-h-screen">
  <header
    class="fixed z-50 w-full h-[60px] bg-main/90 border-b-2 border-b-neutral-50 flex backdrop-blur-sm justify-center md:justify-normal items-center px-3 text-lg">
    <img src="../../../assets/imgs/LogoRedondoClubVolei.webp"
      class="h-9 w-[57.75px] me-auto md:me-0 object-contain object-left md:w-9" alt="Logo Club" />
    <nav class="text-neutral-50 flex md:ms-auto items-center gap-3 sm:gap-4 md:gap-5 lg:gap-6 h-full">
      <a href="#welcome" class="h-9 flex justify-center items-center hover:bg-blue-500/50 duration-200 rounded-md"
        id="a-welcome">
        <span class="w-40 text-center hidden md:block">Inicio</span>
        <span class="md:hidden w-9 flex justify-center items-center">
          <i class="fa-solid fa-house"></i>
        </span>
      </a>
      <a href="#about-us" class="h-9 flex justify-center items-center hover:bg-blue-500/50 duration-200 rounded-md"
        id="a-about-us">
        <span class="w-40 text-center hidden md:block">Sobre nosotros</span>
        <span class="md:hidden w-9 flex justify-center items-center">
          <i class="fa-solid fa-circle-info"></i>
        </span>
      </a>
      <a href="#contact" class="h-9 flex justify-center items-center hover:bg-blue-500/50 duration-200 rounded-md"
        id="a-contact">
        <span class="w-40 text-center hidden md:block">Contacto</span>
        <span class="md:hidden w-9 flex justify-center items-center">
          <i class="fa-solid fa-address-book"></i>
        </span>
      </a>
    </nav>
    <a class="bg-neutral-50 text-main border-2 border-neutral-50 font-semibold h-9 px-2 md:px-0 md:w-40 ms-auto md:ms-5 lg:ms-6 rounded-md flex justify-center items-center gap-2 hover:bg-transparent hover:text-neutral-50 duration-200"
      [routerLink]="['/login']">
      <span class="text-center hidden md:block">Iniciar sesión</span>
      <span class="md:hidden flex justify-center items-center">
        <i class="fa-solid fa-person-running"></i>
      </span>
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </a>
  </header>
  <section
    class="h-screen w-full bg-transparent flex justify-center items-center text-neutral-100 px-14 relative snap-mandatory"
    id="welcome">
    <video preload="metadata" autoplay muted loop poster="../../../assets/imgs/Volleyball-cheer.webp"
      class="fixed w-screen h-screen object-cover object-center -z-20 brightness-[55%] bg-main">
      <source src="../../../assets/videos/Volleyball-cheer.webm" type="video/webm" />
    </video>
    <div class="fixed h-screen flex flex-col justify-center items-center -z-10 w-[700px] max-w-[90%] gap-3 text-center">
      <p class="slogan font-sans drop-shadow-2xl font-extrabold text-5xl md:text-7xl text-transparent">
        CON NOSOTROS EL DEPORTE ES
        <span style="-webkit-text-fill-color: #3b82f6" class="font-sans">MÁS</span>
      </p>
      <p class="drop-shadow-2xl text-lg md:text-2xl">
        Nuestro objetivo siempre ha sido formar a jugadores con futuro en este
        deporte y lograr que ellos mismos se pongan marcas personales,
        lográndolas.
      </p>
    </div>
    <div class="fixed -z-10 bottom-7 text-xl text-white flex items-center flex-col gap-2">
      <img src="../../../assets/imgs/Volleyball-PNG.webp" class="w-9 h-9 animate-bounce" alt="Volleyball ball" />
      <i class="fa-solid fa-chevron-down animate-bounce drop-shadow-xl"></i>
    </div>
  </section>
  <section class="h-screen w-full bg-slate-50 p-20 px-10 lg:px-40" id="about-us">
    <section class="flex flex-col lg:flex-row gap-6">
      <div class="w-full lg:w-[40%] xl:w-[60%] flex flex-col items-center gap-6">
        <h1 class="text-xl md:text-2xl lg:text-3xl font-bold text-main">
          ¿Cuál fue nuestro inicio?
        </h1>
        <p class="indent-5">
          Somos un Club de Voleibol que inicio su actividad en 1971 cuando
          nuestro presidente Guillermo Sicilia se lanzó a crear su propio club.
          Su primera casa fue el Quiquirá en La Orotava, donde formó a
          diferentes equipos en diferentes categorías, logrando incluso que
          algunos ascendiesen a SuperLiga, lo que antes se conocía como división
          de honor.
        </p>
      </div>
      <img src="../../../assets/imgs/FotoEquipoFemenino.jpg" alt="Foto equipo femenino"
        class="w-full lg:w-[60%] max-w-[600px] xl:w-[40%] mx-auto self-center rounded-md drop-shadow-lg" />
    </section>
  </section>
  <section class="h-screen w-full bg-slate-50" id="contact"></section>
  <section class="w-full px-3 py-5 bg-slate-300 flex flex-wrap items-center justify-center gap-4 md:gap-8" id="footer">
    <img src="../../../assets/imgs/LogoRedondoClubVolei.webp" alt="Logo CV Orotava-Pto. de la Cruz"
      class="h-14 md:h-24" />
    <div class="flex flex-col justify-center">
      <h1 class="text-lg md:text-xl font-bold w-full">Patrocinadores:</h1>
      <div class="flex w-full gap-3 md:gap-6 items-center">
        <img src="../../../assets/imgs/escudo-la-orotava (letras).png" alt="Logo Orotava" class="h-8 md:h-14" />
        <img src="../../../assets/imgs/LogoAyuntamiento(letras).png" alt="Logo Pto. de la Cruz" class="h-6 md:h-9" />
        <img src="../../../assets/imgs/LogoBAHIA.webp" alt="Logo Bahia" class="h-6 md:h-9" />
        <img src="../../../assets/imgs/LogoFisioTrail.webp" alt="Logo FisioTrail" class="h-7 md:h-10" />
      </div>
    </div>
    <div
      class="w-full flex items-center justify-center flex-col text-slate-500 font-semibold text-xs md:text-sm text-center">
      <p>Copyright &copy; 2023 CVOrotava - Oficial Website</p>
      <p>
        CVOrotava - Oficial Website: A web application by
        <a href="https://github.com/GuillermoSH" class="text-blue-900">@GuillermoSH</a>
      </p>
    </div>
  </section>
</div>