@import "../../../styles.scss";

:host {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: $background-clr;
    @extend .centered;
}

.login-form {
    background: #fff;
    height: 600px;
    aspect-ratio: 3/4;
    border-radius: 15px;
    position: relative;
    @extend .centered;
    flex-direction: column;
    gap: 20px;

    img {
        height: 150px;
        position: absolute;
        top: 40px;
    }

    .input-group {
        position: relative;
        width: 80%;
        border: 1px solid $logo-main-clr;
        border-radius: 12px;

        .input {
            width: 100%;
            border: solid 1px transparent;
            border-radius: 10px;
            background: none;
            padding: 1rem;
            font-size: 1rem;
            color: $logo-main-clr;
            font-weight: 600;
            transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);

            &:focus,
            &:valid {
                outline: none;
                border: 1px solid $logo-main-clr;
            }

            &:focus~label,
            &:valid~label {
                transform: translateY(-50%);
                background-color: $logo-main-clr;
                padding: 2px 10px;
                color: #fff;
                font-size: 14px;
            }
        }

        .label {
            font-weight: 400;
            position: absolute;
            left: 15px;
            color: $logo-main-clr;
            font-size: $subtitle-size;
            pointer-events: none;
            transform: translateY(1rem);
            border-radius: 5px;
            transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    .remember-pass {
        width: 80%;
        line-height: 6px;
        font-size: 13px;
        text-decoration: none;
        color: $logo-main-clr;
        font-weight: 600;
        letter-spacing: -0.4px;
        transition: all 0.2s;

        &:hover {
            color: $logo-sec-clr;
        }
    }

    .btn-submit {
        letter-spacing: 1px;
        position: absolute;
        bottom: 148px;
        padding: 0.70rem 3rem;
        font-size: $subtitle-size;
        color: #fff;
        background: $logo-main-clr;
        border-radius: 10px;
        transition: all 0.2s;
        border: 2px solid transparent;

        i {
            margin-left: 5px;
            font-size: inherit;
        }

        &:hover {
            background: $logo-sec-clr;
            color: $logo-main-clr;
            border: 2px solid $logo-main-clr;
        }

        &:hover i {
            transition: all 0.2s, transform 30s;
            transform: rotate(360 * 7deg);
        }
    }

    .btn-dismiss {
        position: absolute;
        cursor: pointer;
        @extend .centered;
        height: 22px;
        top: 20px;
        right: 20px;
        color: $logo-main-clr;

        i {
            font-size: 30px;
        }
    }
}

@media (width < 768px) {
    .login-form {
        height: 400px;

        img {
            height: 100px;
            top: 16px;
        }

        .input-group {
            .input {
                padding: 0.8rem;
                font-size: 0.8rem;

                &:focus~label,
                &:valid~label {
                    transform: translateY(-50%) translateX(-2px);
                    font-size: 10px;
                }
            }

            .label {
                transform: translateY(0.8rem);
                font-size: 0.8rem;
            }
        }

        .remember-pass {
            font-size: 11px;
        }

        .btn-dismiss {
            height: 16px;

            i {
                font-size: 20px;
            }
        }

        .btn-submit {
            letter-spacing: 1px;
            position: absolute;
            bottom: 78px;
            padding: 0.45rem 2rem;
            font-size: 14px;
        }
    }
}