
<section class="w-full flex flex-wrap gap-5">
    <div *ngFor="let payment of payments" class="text-xs md:text-sm basis-full lg:basis-[calc(50%-10px)] flex flex-wrap items-center gap-3 md:gap-5 p-3 md:p-5 shadow-lg rounded-xl border-s-4 border-s-blue-500 bg-gray-200/75">
        <div class="w-32">
            <h1 class="font-extrabold">Concepto:</h1>
            <p class="text-base md:text-lg">{{payment.concept}}</p>
        </div>
        <div class="w-20">
            <h1 class="font-extrabold">Cantidad:</h1>
            <p class="text-base md:text-lg">{{payment.quantity + " €"}}</p>
        </div>
        <div class="w-24">
            <h1 class="font-extrabold">Mes:</h1>
            <p class="capitalize text-base md:text-lg">{{months[payment.month - 1]}}</p>
        </div>
        <div class="w-24">
            <h1 class="font-extrabold">Año:</h1>
            <p class="capitalize text-base md:text-lg">{{payment.year}}</p>
        </div>
        <div class="ms-auto flex gap-3 md:gap-5">
            <button class="bg-blue-500 h-8 md:h-10 w-8 md:w-10 rounded-md hover:bg-blue-700">
                <i class="fa-solid fa-pencil text-neutral-50"></i>
            </button>
            <button class="bg-red-500 h-8 md:h-10 w-8 md:w-10 rounded-md">
                <i class="fa-solid fa-trash text-neutral-50"></i>
            </button>
        </div>
    </div>
</section>
