@import "../../../styles.scss";

:host {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: $background-clr;
    @extend .centered;
    flex-direction: column;

    .section1 {
        @extend .centered;

        img {
            height: 150px;
            filter: drop-shadow(0px 0px 2px $shadow-clr);
        }
    }

    .section2 {
        width: 90%;
        @extend .centered;

        .volley-ball {
            height: 150px;
            width: 40%;
            @extend .centered;

            img {
                height: 80%;
                aspect-ratio: 1/1;
                filter: drop-shadow(0px 0px 3px $shadow-clr) brightness(87%);
            }
        }

        .body {
            height: 150px;
            width: calc(60% - 2rem);
            text-align: center;
            @extend .centered;
            flex-direction: column;
            padding-inline: 1rem;

            .title {
                font-size: 25px;
                font-weight: 900;
                letter-spacing: -1px;
                font-family: $title-font;
                text-transform: uppercase;
                color: $logo-main-clr;
                width: 100%;
            }
            
            .subtitle {
                width: 100%;
                font-size: 15px;
                font-weight: 900;
                letter-spacing: -1px;
                font-family: $title-font;
                text-transform: uppercase;
                color: $logo-main-shade-clr;

                img {
                    height: 15px;
                    transform: rotateY(180deg);
                    filter: invert(58%) sepia(6%) saturate(840%) hue-rotate(215deg) brightness(90%) contrast(84%);
                }
            }
        }
    }

    .section3 {
        @extend .centered;

        .btn-back {
            margin-top: 50px;
            padding: 0.5rem 1rem;
            background: $logo-main-clr;
            color: $background-clr;
            border: none;
            border-radius: 10px;
            transition: all 0.2s;
            margin-bottom: 40px;
            
            i {
                margin-left: 10px;
            }
            
            &:hover {
                background: $logo-sec-clr;

                i {
                    animation: pulse 1s infinite;
                }
            }
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.8);
    }
}

@media (width > 768px) {
    .wrapper {
        .section2 {
            .volley-ball {
                height: 250px;
                width: 40%;
            }

            .body {
                height: 250px;
                width: 60%;

                .title {
                    font-size: 45px;
                }

                .subtitle {
                    font-size: 25px;

                    img {
                        height: 25px;
                    }
                }
            }
        }
    }
}

@media (width > 992px) {
    .wrapper {
        .section2 {
            .volley-ball {
                height: 350px;
            }
    
            .body {
                height: 350px;
    
                .title {
                    font-size: 55px;
                }
    
                .subtitle {
                    font-size: 25px;
    
                    img {
                        height: 25px;
                    }
                }
            }
        }
    }
}

@media (width > 1200px) {
    .wrapper {
        .section2 {
            width: 1000px;
            .body {
                .title {
                    font-size: 65px;
                }
            }
        }
    }
}