<div class="wrapper">
  <div class="section1">
    <img
      src="../../../assets/imgs/LogoCuadradoClubVolei(sin fondo).png"
      alt="Logo CVOrotava"
    />
  </div>
  <div class="section2">
    <div class="body">
      <div class="title">¡Caaaaaasiiiiiiii!</div>
      <div class="subtitle">
        La pelota ha salido fuera... Pero puedes volver a tu campo para seguir
        jugando
        <img src="../../../assets/imgs/5025876.png" alt="Jugadora voleibol" />
      </div>
    </div>
    <div class="volley-ball">
      <img
        src="../../../assets/imgs/Volleyball-PNG.png"
        alt="Pelota voleybol"
      />
    </div>
  </div>
  <div class="section3">
    <button class="btn-back" onClick="window.history.back()">
      Volver al campo
      <i class="fa-solid fa-play"></i>
    </button>
  </div>
</div>
