<a class="option" [routerLink]="['/dashboard']" id="home" data-title="Inicio">
    <i class="fa-solid fa-volleyball"></i>
    <span>Inicio</span>
</a>
<a class="option" [routerLink]="['/dashboard/money']" id="money" data-title="Registros monetarios">
    <i class="fa-solid fa-hand-holding-dollar"></i>
    <span>Registros monetarios</span>
</a>
<a class="option" [routerLink]="['/dashboard/statistics']" id="statistics" data-title="Estadisticas">
    <i class="fa-solid fa-chart-pie"></i>
    <span>Estadisticas</span>
</a>