<a class="option" [routerLink]="['/dashboard']" id="home" title="Inicio">
  <i class="fa-solid fa-volleyball"></i>
  <span>Inicio</span>
</a>
<a
  class="option"
  [routerLink]="['/dashboard/money']"
  id="money"
  title="Registros monetarios"
>
  <i class="fa-solid fa-hand-holding-dollar"></i>
  <span>Registros monetarios</span>
</a>
<a
  class="option"
  [routerLink]="['/dashboard/statistics']"
  id="statistics"
  title="Estadisticas"
>
  <i class="fa-solid fa-chart-pie"></i>
  <span>Estadisticas</span>
</a>
<a
  class="option"
  [routerLink]="['/dashboard/players']"
  id="players"
  title="Jugadores"
>
  <i class="fa-solid fa-people-group"></i>
  <span>Jugadores</span>
</a>
