@import "../../../styles.scss";

:host {
    height: 100%;
    width: 100%;
    background: $background-clr;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
}

.option {
    width: 45px;
    height: 45px;
    text-decoration: none;
    color: $logo-main-clr;
    @extend .centered;
    background: transparent;
    transition: all 0.2s;
    border-radius: 10px;

    &.active {
        background: $logo-main-clr !important;
        color: $background-clr !important;
        pointer-events: none;

        i {
            color: $logo-sec-clr !important;
        }
    }

    &:hover {
        background: $logo-main-shade-clr;
        color: $background-clr;
    }

    span {
        transform: scaleX(0);
        opacity: 0;
        width: 0;
        transform-origin: left;
        transition: all 80ms, opacity .7s;
    }

    i {
        font-size: 22px;
    }
}

@media (width < 768px) {
    :host {
        flex-direction: row;
        justify-content: center;
        padding-top: 0;
        height: 100%;
    }
}

@media (width >= 768px) {
    .option {
        height: 55px;
        width: 55px;
    }

    :host.active {
        .option {
            padding-inline: 20px;
            width: calc(100% - 10px);
            
            span {
                margin-left: 20px;
                opacity: 1;
                width: 20ch;
                transform: scaleX(1);
            }
        }
    }
}