<div class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  <div id="total-players-card"
    class="h-48 shadow-gray-300 shadow-lg rounded-xl p-5 flex relative bg-gray-50 border-b-[6px] border-blue-500">
    <span class="text-xl font-semibold text-main">Numero total de jugadores:</span>
    <div
      class="absolute w-[calc(100%-40px)] h-[calc(100%-34px)] flex justify-around items-center text-6xl text-blue-500">
      <div class="flex items-center gap-2 relative">
        {{ totalNumPlayers.TFem }}
        <img src="../../../assets/imgs/volleyball-player.svg" class="h-12 w-12" />
        <span class="absolute bottom-[-20px] right-[6px] text-lg">FEM</span>
      </div>
      <div class="flex items-center gap-2 relative">
        {{ totalNumPlayers.TMas }}
        <img src="../../../assets/imgs/volleyball-player (1).svg" class="h-12 w-12" />
        <span class="absolute bottom-[-20px] right-[6px] text-lg">MAS</span>
      </div>
    </div>
  </div>
</div>

<div>
  <a [routerLink]="['/aaaa']">ERROR</a>
</div>